<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_collection_001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,446},{38,38}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,22},{38,38}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>button_collection_001_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,416},{38,38}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,22},{38,38}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>button_news_001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,460},{38,32}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,24},{38,32}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>button_news_001_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,344},{38,32}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,24},{38,32}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>button_other_030_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,310},{46,36}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{46,36}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>button_other_030_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,310},{46,36}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{46,36}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>fish_motion_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,456},{36,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,26},{36,26}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>fish_motion_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,416},{36,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,26},{36,26}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>fish_motion_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,416},{22,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{22,36}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>fish_motion_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,486},{22,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,20},{22,36}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>fish_motion_c_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,444},{26,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{26,36}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>fish_motion_c_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,416},{26,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{26,36}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>main_ui_button_03_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,416},{28,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,20},{28,40}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>main_ui_button_03_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,354},{28,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,20},{28,40}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>main_ui_button_04_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,348},{40,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{40,28}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>main_ui_button_04_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,348},{40,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{40,28}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>main_ui_button_05_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,416},{42,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{42,42}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>main_ui_button_05_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,310},{42,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{42,42}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>ui_box01_sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,384},{234,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,30}}</string>
                <key>sourceSize</key>
                <string>{234,30}</string>
            </dict>
            <key>ui_box02_sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{290,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,32}}</string>
                <key>sourceSize</key>
                <string>{290,32}</string>
            </dict>
            <key>ui_button_box01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{256,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,78}}</string>
                <key>sourceSize</key>
                <string>{256,78}</string>
            </dict>
            <key>ui_button_box01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{256,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,78}}</string>
                <key>sourceSize</key>
                <string>{256,78}</string>
            </dict>
            <key>ui_button_box02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{496,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,152}}</string>
                <key>sourceSize</key>
                <string>{496,152}</string>
            </dict>
            <key>ui_button_box02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,152}}</string>
                <key>sourceSize</key>
                <string>{496,152}</string>
            </dict>
            <key>ui_button_box05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,310},{74,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{74,72}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>ui_touming_sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,348},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI_GameStartMenuLayer-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02d35080cf8d1be23648879ac19b0ed8$</string>
            <key>textureFileName</key>
            <string>UI_GameStartMenuLayer-hd.png</string>
        </dict>
    </dict>
</plist>
