<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caihong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{225,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{225,72}}</string>
                <key>sourceSize</key>
                <string>{225,100}</string>
            </dict>
            <key>caihong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{225,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{225,72}}</string>
                <key>sourceSize</key>
                <string>{225,100}</string>
            </dict>
            <key>caihong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{225,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{225,72}}</string>
                <key>sourceSize</key>
                <string>{225,100}</string>
            </dict>
            <key>caihong_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{225,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{225,72}}</string>
                <key>sourceSize</key>
                <string>{225,100}</string>
            </dict>
            <key>caihong_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{225,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{225,72}}</string>
                <key>sourceSize</key>
                <string>{225,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caihong-hd.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:104d44a4876bf276145712c6fee2e979$</string>
            <key>textureFileName</key>
            <string>caihong-hd.png</string>
        </dict>
    </dict>
</plist>
