<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sweapon_bullet_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,46},{44,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,40}}</string>
			<key>sourceSize</key>
			<string>{44,40}</string>
		</dict>
		<key>sweapon_bullet_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,88},{44,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,38}}</string>
			<key>sourceSize</key>
			<string>{44,38}</string>
		</dict>
		<key>sweapon_bullet_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,50},{48,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,42}}</string>
			<key>sourceSize</key>
			<string>{48,42}</string>
		</dict>
		<key>sweapon_bullet_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,56},{52,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,46}}</string>
			<key>sourceSize</key>
			<string>{52,46}</string>
		</dict>
		<key>weapon_bullet_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,94},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>weapon_bullet_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,40},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,36}}</string>
			<key>sourceSize</key>
			<string>{36,36}</string>
		</dict>
		<key>weapon_bullet_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,2},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,36}}</string>
			<key>sourceSize</key>
			<string>{36,36}</string>
		</dict>
		<key>weapon_bullet_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,2},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>weapon_bullet_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,2},{42,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,42}}</string>
			<key>sourceSize</key>
			<string>{42,42}</string>
		</dict>
		<key>weapon_bullet_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,2},{46,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,46}}</string>
			<key>sourceSize</key>
			<string>{46,46}</string>
		</dict>
		<key>weapon_bullet_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{14,2},{30,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,64}}</string>
			<key>sourceSize</key>
			<string>{30,64}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Item-chaojiwuqi-iphone-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:57f8dcb125391016cc0275150d6d895f$</string>
		<key>textureFileName</key>
		<string>Item-chaojiwuqi-iphone-hd.png</string>
	</dict>
</dict>
</plist>
